@charset "UTF-8";

@import url('bootstrap-grid.css'); 
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext');

input,
input[type="text"] {
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	outline: none;
	font-size: 16px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	font-weight: 500;
	opacity: 1;
	border-radius: 4px;
	border: none;
	box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.12);
}

input {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

input:focus,
input[type="text"]:focus {
	color: #808080;
	transition: box-shadow 0.2s !important;
	opacity: 1;
	border: none;
	box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.12);
}

input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #808080 !important;
}

input.with-border,
input[type="text"].with-border
{
	border: 1px solid #e0e0e0;
	box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
}
input.with-border:focus,
input[type="text"].with-border:focus {
	border: 1px solid #e0e0e0;
	box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.08);
}

input[type="submit"] {
	border: none;
	padding: 11px 18px;
	width: auto;
}

::placeholder {
	color: #808080;
	opacity: 1;
}


label {
	display: block;
	font-weight: bold;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 8px;
}


label span,
legend span {
	font-weight: normal;
	font-size: 14px;
	color: #444;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	cursor: pointer;
}

button { outline: none !important; }
img { max-width: 100%; }




body ul ul {
	padding: 14px 0;
	box-sizing: border-box;
	margin-top: 12px;
}

body ul ul ul { margin-top: 0; }

#wrapper.wrapper-with-transparent-header #header .right-side { background-color: #f9f9f9; }
#header { transition: background 0.3s; }
#wrapper { padding-top: 82px; }
#wrapper.wrapper-with-transparent-header { padding-top: 0 !important;}



.sidebar-container { margin-bottom: 40px; }
.full-page-container .sidebar-container { margin-bottom: 0px; }


.full-page-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.side-padding {
	flex: 0 0 360px;
	background-color: #f9f9f9;
	position: relative;
}

.side-padding .side-padding-inner {
	overflow: auto;
	height: 100%;
}

.side-padding .sidebar-container {
	padding: 40px;
}

.side-padding .simplebar-scrollbar {
	width: 5px;
}

.side-padding .sidebar-widget:last-of-type {
	margin-bottom: 80px;
}

.full-page-content-container {
	flex: 1;
	padding: 0;
    overflow: auto;
}

.full-page-content-inner {
	padding: 40px;
	padding-bottom: 0;
}

.full-page-content-inner .grid-layout {
	width: calc(100% + 30px)
}

.full-page-content-inner .grid-layout .job-listing {
    margin: 0 30px 30px 0;
    width: calc(100% * (1/3) - 30px);
}



@media (max-width: 3860px) {
	.full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/4) - 30px);
	}

	.full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/3) - 30px);
	}
}

@media (max-width: 2560px) {
	.full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/4) - 30px);
	}

	.full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/2) - 30px);
	}
}

@media (max-width: 1920px) {
	.full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/3) - 30px);
	}

	.full-page-container.with-map .side-padding { flex: 0 0 340px }
	.full-page-container.with-map .side-padding .side-padding-inner { width: 340px; }
	.full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/2) - 30px);
	}
}

@media (max-width: 1600px) {
	.full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% * (1/2) - 30px);
	}

	.side-padding {
		flex: 0 0 50px;
	}
	
	.full-page-container.with-map .side-padding { flex: 0 0 320px }
	.full-page-container.with-map .side-padding .side-padding-inner { width: 320px; }
	.full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
	    width: calc(100% - 30px);
	}

	.full-page-container.with-map .full-page-content-container { flex: 0 0 55vw }
}

@media (max-width: 1365px) {
	.location-field-on-map {
		left: 0px;
		right: auto;
		width: calc(100% - 80px);
		max-width: calc(100% - 80px);
		margin: 0 40px;
	}

	.full-page-container .notify-box { margin-bottom: 80px; }
	.full-page-container .notify-box .sort-by {
		position: absolute;
		margin-top: 40px;
		left: 0;
	}
	.full-page-container .notify-box .sort-by .bootstrap-select .dropdown-menu { left: 0; right: auto; }
}

.job-listing {
	display: block;
	border-radius: 4px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.12);
	margin-bottom: 35px;
	background-color: #fff;
	transition: 0.3s;
	position: relative;
}

.job-listing:hover {
	box-shadow: 0 2px 18px rgba(0,0,0,0.14);
	transform: translateY(-4px);
}
.title {
	line-height: 20px;
	padding-bottom: 5px
}
.job-listing-details {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 20px;
}

.job-listing .job-listing-company-logo {
	flex: 1;
	max-width: 55px;
	margin-right: 25px;
	position: relative;
	top: 3px;
}

.job-listing .job-listing-company-logo img {
	border-radius: 4px;
	transform: translate3d(0,0,0);
}

.job-listing .job-listing-description p {
	margin: 15px 0 0 0;
	padding: 0;
	color: #666;
}

.job-listing h6.job-listing-company {
	color: black;
	width: 150px;
	line-height: 15px;
}

.job-listing h3.job-listing-title {
	font-size: 20px;
	color: #333;
	line-height: 30px;
}

.job-listing .job-listing-footer {
	background-color: #f9f9f9;
	padding: 20px 35px;
	border-radius: 0 0 4px 4px;
	position: relative;
}

.job-listing .job-listing-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.job-listing .job-listing-footer ul li {
	display: inline-block;
	margin-right: 14px;
	color: #777;
}

.job-listing .job-listing-footer ul li:last-child {
	margin-right: 0;
}

.job-listing .job-listing-footer ul li i.icon-material-outline-location-on {
	margin-right: 0;
}

.job-listing .job-listing-footer ul li i {
	position: relative;
	top: 1px;
	margin-right: 3px;
	color: #777;
}


.job-listing .job-listing-description {
	top: 3px;
	position: absolute;
	right: 50px;
}
.timers { 
		margin-right: -100px;
	 }
@media all and (min-width: 1024px) and (max-width: 1280px) {
	.job-listing-description { 
		position: absolute;
		right: 5px;
		top: 1px;
		width: 200px;
	 }
}
@media (max-width: 768px) {
	.job-listing .job-listing-company-logo  { 
		position: absolute;
		right: 5px;
		top: 3px;
	 }
	.timers { 
		margin-right: -50px;
	 }
	.job-listing .job-listing-title { padding-right: 10%; }
}



.grid-layout {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
}

.grid-layout .job-listing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 30px 30px 0;
	width: calc(100% * (1/2) - 30px);
	flex-direction: column;
}

.grid-layout .job-listing-details {
	flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.tasks-list-container.tasks-grid-layout .task-listing .task-listing-details,
	.grid-layout .job-listing-details { flex-basis: 100px; }
	.tasks-list-container.tasks-grid-layout .task-listing-bid { flex-basis: 100px; }
}

.grid-layout .job-listing-footer {
	flex-grow: 0;
	padding: 20px 30px;
}

.grid-layout .job-listing h3.job-listing-title {
	font-size: 18px;
	line-height: 28px;
}

.grid-layout .job-listing-footer .bookmark-icon {
	top: 0;
	right: 25px;
	transform: translateY(-50%) scale(0.96);
}

.grid-layout .job-listing .job-listing-company-logo {
	max-width: 56px;
	margin-right: 24px;
	flex: 0 0 56px;
	width: 200px;
	
}

@media (max-width: 768px) {
	.full-page-content-inner .grid-layout .job-listing,
	.grid-layout .job-listing {
		width: 100%;
	}
	.grid-layout,
	.full-page-content-inner .grid-layout { width:100%; }

	.full-page-content-container .simplebar-content {overflow-x: hidden !important;}
	.full-page-container.with-map .full-page-content-inner .grid-layout .job-listing { width: 100%; }
}

@media (max-width: 3860px) {
	.full-page-content-inner .tasks-grid-layout .task-listing {  width: calc(100% * (1/4) - 30px); } 
}

@media (max-width: 2560px) {
	.full-page-content-inner .tasks-grid-layout .task-listing {  width: calc(100% * (1/3) - 30px); }
}

@media (max-width: 1600px) {
	.full-page-content-inner .tasks-grid-layout .task-listing {  width: calc(100% * (1/2) - 30px); }
}

@media (max-width: 1099px) {
	.full-page-content-inner .tasks-grid-layout .task-listing {  width: calc(100% - 30px); }
}

@media (max-width: 992px) {
	.full-page-content-inner .tasks-grid-layout .task-listing {  width: calc(100%); }
}


button { vertical-align: middle; }

span.button,
button.button,
input[type="button"],
input[type="submit"],
a.button {
	background-color: #66676b;
	top: 0;
	padding: 10px 20px;
	line-height: 24px;
	color: #fff;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	border: none;
	border-radius: 4px;
    box-shadow: 0 4px 12px rgba(102,103,107,0.15);
}

.notification.notice h4 { font-size: 19px; margin: 3px 0 15px 0; }
.notification.notice h4,
.notification.notice,
.notification.notice a,
.notification.notice strong {
	color: #3184ae
}

.notification.notice {
	background-color: #E9F7FE;
}

.notification.notice.large{
	padding: 32px 36px;
}

.notification strong { font-weight: 700; }
.notification a { text-decoration: underline; }


body .notification strong { border: none; }

.notification.success .close,
.notification.error .close,
.notification.warning .close,
.notification.notice .close {
	padding: 0px 9px;
	position: absolute;
	right: 0;
	top: 22px;
	display: block;
	height: 8px;
	width: 8px;
	cursor: pointer;
}

.notification.notice p span i { font-weight: 500; }
.notification a.button {
	float: right;
	color: #fff;
	margin-top: 3px;
}

.notification.notice a.button { background-color: #388fc5; }
.notification.warning a.button { background-color: #dfbe51; }
.notification.error a.button { background-color: #d34c4c; }
.notification.success a.button { background-color: #79ba38; }

.notification.closeable a.close:before {
	content: "\ea02";
	font-family: "Feather-Icons";
	position: absolute;
	right: 25px;
	top: 0;
	cursor: pointer;
	font-weight: 600;
}


.job-listing-company .verified-badge,
.job-listing .job-listing-footer ul li .verified-badge {
	position: relative;
	display: inline-block;
	transform: scale(0.7);
	top: 2px;
	margin-left: -2px;
}

.job-listing .job-listing-company-logo .verified-badge {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(7px, 7px);
}


.ripple-effect-dark,
.ripple-effect {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.ripple-effect span.ripple-overlay,
.ripple-effect-dark span.ripple-overlay {
	animation: ripple 0.9s;
	border-radius: 100%;
	background: #fff;
	height: 12px;
	position: absolute;
	width: 12px;
	line-height: 12px;
	opacity: 0.1;
	pointer-events: none;
}

.ripple-effect-dark span.ripple-overlay { background: #000; opacity: 0.07; }

@keyframes ripple {
  0% {
	 -webkit-transform: scale(4);
				transform: scale(4);
  }
  100% {
	 opacity: 0;
	 -webkit-transform: scale(40);
				transform: scale(40);
  }
}

.uploadButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
  font-style: normal;
  font-size: 14px;
}

.uploadButton .uploadButton-input {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.uploadButton .uploadButton-button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 44px;
	padding: 10px 18px;
	cursor: pointer;
	border-radius: 4px;
	color: #66676b;
	background-color: transparent;
	border: 1px solid #66676b;
	flex-direction: row;
	transition: 0.3s;
	margin: 0;
	outline: none;
	box-shadow: 0 3px 10px rgba(102,103,107,0.1);
}

.uploadButton .uploadButton-button:hover {
	background-color: #66676b;
	box-shadow: 0 4px 12px rgba(102,103,107,0.15);
	color: #fff;
}

.uploadButton .uploadButton-file-name {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex: 1;
	box-sizing: border-box;
	padding: 0 10px;
	padding-left: 18px;
	min-height: 42px;
	top: 1px;
	position: relative;
	color: #888;
	background-color: transparent;
	overflow: hidden;
	line-height: 22px;
}


.infoBox { 
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	line-height: 24px;
}

.infoBox .job-listing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	box-shadow: none;
	width: 100%;
}

.infoBox .job-listing .job-listing-description {
	padding-top: 0;
}

.infoBox .job-listing:hover {
	transform: none;
}

.infoBox .job-listing-details {
	flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 25px;
}

.infoBox .job-listing h4.job-listing-company {
	font-size: 14px;
	position: relative;
	top: 0px;
}

.infoBox .job-listing .verified-badge {
	transform: scale(0.85);
	right: -7px;
	bottom: -7px;
}

.infoBox .job-listing .not-verified-badge {
	display: none;
}

.infoBox .job-listing-footer {
	flex-grow: 0;
	padding: 15px 25px;
	font-size: 16px;
	display: none;
}

.infoBox .job-listing h3.job-listing-title {
	font-size: 16px;
	line-height: 24px;
}

.infoBox .job-listing .job-listing-company-logo {
	max-width: 46px;
	margin: 5px 18px 5px 0;
	top: 0;
	flex: 0 0 46px;
}

.infoBox .job-listing .job-listing-company-logo img { max-width: 46px; }

.infoBox {
	animation: infoBoxAnimation 0.5s;
}

@keyframes infoBoxAnimation {
    from {opacity: 0; transform: translateY(-10px); }
    to {opacity: 1; transform: translateY(0px); }
}

.infoBox span { margin-right: 3px; }

.infoBox {
	position: relative;
	top: -1px;
}

.infoBox:after {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #fff;
}

.full-page-container,
.dashboard-container {
    height: calc(100vh - 82px);
}

@media (max-width: 1099px) {
	.full-page-container,
	.dashboard-container {
	    height: calc(100vh - 76px);
	}
}


.dashboard-box {
	display: block;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,0.08);
	margin-top: 30px;
	position: relative;
}

.dashboard-box .headline {
	display: block;
	padding: 20px 30px;
	border-bottom: 1px solid #e4e4e4;
	position: relative;
}

.dashboard-box .headline h3 {
	font-size: 16px;
	font-weight: 600;
	color: #333;
	line-height: 26px;
}

.dashboard-box .headline h3 i {
	color: #66676b;
	font-size: 21px;
	line-height: 0;
	position: relative;
	top: 2px;
	margin-right: 4px;
}

.dashboard-box .headline h3 i.icon-material-outline-gavel { font-size: 20px; }
.dashboard-box .headline h3 i.icon-material-outline-supervisor-account { font-size: 24px; top: 3px;}
.dashboard-box .headline h3 i.icon-feather-folder-plus { font-size: 20px; top: 2px; margin-right: 5px; }
.button.big i.icon-feather-plus { font-size: 20px; top: 2px; margin-left: -4px; margin-right: 5px;}

.dashboard-box .content.with-padding { padding: 30px; }

.dashboard-box .chart { padding: 30px 20px 17px 18px; }

.dashboard-box .headline .sort-by {
	float: none;
	display: inline-block;
	position: absolute;
	top: calc(50% + 3px);
	transform: translateY(-50%);
	right: 30px;
	z-index: 100;
	height: 33px;
}

.dashboard-box .headline .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-weight: 500;
    color: #666;
}



.dashboard-box .button.red    { background-color: #dc3139; box-shadow: 0 3px 8px rgba(234,65,81,0.15); }
.dashboard-box .button.green  { background-color: #40b660; box-shadow: 0 3px 8px rgba(64,182,96,0.15); }
.dashboard-box .button.dark   { background-color: #333333; box-shadow: 0 3px 8px rgba(0,0,0,0.1); }
.dashboard-box .button.gray   { background-color: #eee; color: #666; box-shadow: none; }

.dashboard-box .dashboard-box-list .button:not(.ico):hover,
.dashboard-box .button.red:not(.ico):hover,
.dashboard-box .button.green:not(.ico):hover,
.dashboard-box .button.gray:not(.ico):hover   {
	color: #fff;
	background-color: #333333;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.dashboard-box .button.dark:not(.ico):hover {
	background-color: #66676b;
	box-shadow: 0 3px 8px rgba(102,103,107,0.15);
}

.dashboard-box .button.ico {
	width: 32px;
	text-align: center;
}

.dashboard-box .button.ico i {
	font-size: 15px;
	margin-left: -7px;
	top: 2px;
	position: relative;
}

.dashboard-box .button i.icon-material-outline-check {
	margin-left: -5px;
}

.dashboard-box .button.ico i[class*="icon-material"] { 
	font-size: 18px;
	margin-left: -8px;
	top: 3px;
	position: relative;
}

.dashboard-box-list { box-shadow: none; }

.dashboard-box-list a.button i {
	margin: 0;
	padding: 0;
	position: relative;
	top: 1px;
	font-size: 14px;
	line-height: 0;
	margin-left: -2px;
}

.dashboard-box .mark-as-read {
	float: none;
	background-color: #f4f4f4;
	position: absolute;
	right: 30px;
	top: 18px;
}

.button-info {
	background: rgba(255,255,255,0.25);
    color: #fff;
    width: 19px;
    height: 19px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 700;
    margin-left: 3px;
    margin-right: -2px;
}



.dashboard-box .job-listing-details {
	box-shadow: none;
	padding: 10px 0;
	align-items: center;
	flex: auto;
}

.dashboard-box .job-listing {
	box-shadow: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-box .job-listing.width-adjustment {
	max-width: 60%
}

.dashboard-box .job-listing h3 a {
	color: #333;
	font-size: 18px;
}

.dashboard-box .job-listing .job-listing-company-logo {
	max-width: 50px;
}

.dashboard-box .job-listing .job-listing-description {
	padding-top: 0;
}

.dashboard-box .job-listing:hover {
	transform: none;
}

.dashboard-box .job-listing .job-listing-footer {
    background-color:transparent;
    padding: 0;
    border-radius: none;
}

.dashboard-box  {
	padding: 15px 0;
}
.dashboard-box -inner {
    flex:  auto;
    display: flex;
    align-items: center;
}

.dashboard-box  .freelancer-name {
    text-align: left;
    margin: 0 0 0 30px;
    width: 100%;
}

.dashboard-box   {
	margin: 0;
	width: 90px;
}

.dashboard-box .manage-candidates  {
	align-self: flex-start;
}


.dashboard-box li:hover .dashboard-task-info {
	background-color: #f0f0f0;
}

@media (max-width: 1366px) {
	.dashboard-box .job-listing.width-adjustment {max-width: 100% }
	.dashboard-task-info {
	    position: relative;
	    right: 0;
	    top: 0;
	    transform: none;
	    margin: 10px 0 20px 0;
	}
}

@media (max-width: 768px) {
	.dashboard-box   {
		width: 60px;
	}
	.dashboard-box  {
		transform: scale(0.8);
		bottom: -5px;
		right: -5px;
	}
	.dashboard-box  {
	    margin: 0 0 0 25px;
	}
	.dashboard-box .job-listing .job-listing-company-logo {
		display: none;
	}

}


.dashboard-box {
	padding: 10px 0;
	width: 100%;
}



.avatar-wrapper {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: none;
	margin: 0 10px 30px 0;
	transition: all .3s ease;
}
.avatar-wrapper:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.avatar-wrapper .profile-pic {
	height: 100%;
	width: 100%;
	transition: all .3s ease;
	object-fit: cover;
}

.avatar-wrapper .profile-pic:after {
	font-family: Feather-Icons;
	content: "\e9f1";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 120px;
	position: absolute;
	font-size: 60px;
	background: #f0f0f0;
	color: #aaa;
	text-align: center;
}

.avatar-wrapper .upload-button {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.avatar-wrapper .file-upload {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

	body {
		color: #666;
		font-size: 16px;
		line-height: 27px;
		background-color: #fff;
	}

	body.gray { background-color: #f9f9f9; }
	body p { font-size: 16px; line-height: 27px; }

	body, h1, h2, h3, h4, h5, h6,  input[type="text"], input[type="button"], input[type="submit"], button, body .pac-container
	{ font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: none; }

	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}

	h1 { font-size: 32px; }
	h2 { font-size: 26px; }
	h3 { font-size: 22px; }
	h4 { font-size: 16px; }
	h5 { font-size: 14px; }
	h6 { font-size: 12px; }

	h3.page-title { font-size: 20px; line-height: 32px; }

	
	
	.content-left-offset { padding-left: 30px; }
	.content-right-offset { padding-right: 30px; }

	@media (max-width: 992px) {
		.content-left-offset { padding-left: 15px; }
		.content-right-offset { padding-right: 15px; }
	}

	.margin-top-0   { margin-top: 0px  !important; }
	.margin-top-30  { margin-top: 30px !important; }
	.margin-top-35  { margin-top: 35px !important; }